@{
    ViewData["Title"] = "Project Page";
}

@await Html.PartialAsync("_HeaderTitle", new HeaderTitle { Title = "Proyectos", Subtitle = "Listado de proyectos" })


<div>

    <ul class="grid grid-cols-1 gap-6 md:grid-cols-4">
        <li>
            <a asp-controller="Register" asp-action="Index">
                <div class="flex items-center space-x-4 rounded-lg bg-white p-4 shadow">
                    <img class="h-16 w-16 rounded-full object-cover"
                         src="https://img.icons8.com/color/96/000000/add-user-group-man-man.png"
                         alt="Módulo Registro">
                    <div>
                        <h2 class="font-semibold text-gray-900">Registro</h2>
                        <p class="text-sm text-gray-600">Gestión de registros para los modulos.</p>
                    </div>
                </div>
            </a>


        </li>
        <li>
            <a asp-controller="Element" asp-action="Index">
                <div class="flex items-center space-x-4 rounded-lg bg-white p-4 shadow">
                    <img class="h-16 w-16 rounded-full object-cover"
                         src="https://img.icons8.com/?size=100&id=WyIeKjcJql1c&format=png&color=000000"
                         alt="Módulo CI">
                    <div>
                        <h2 class="font-semibold text-gray-900">Elementos CI</h2>
                        <p class="text-sm text-gray-600">Control de configuraciones e infraestructura.</p>
                    </div>

                </div>
            </a>
        </li>

        <li>
            <a asp-controller="Project" asp-action="Index">
                <div class="flex items-center space-x-4 rounded-lg bg-white p-4 shadow">
                    <img class="h-16 w-16 rounded-full object-cover"
                         src="https://img.icons8.com/color/96/000000/task.png"
                         alt="Módulo Proyecto">
                    <div>
                        <h2 class="font-semibold text-gray-900">Proyectos</h2>
                        <p class="text-sm text-gray-600">Organización y seguimiento de tareas y proyectos.</p>
                    </div>
                </div>

            </a>
        </li>
    </ul>

</div>
